@import "../views/title/styles.scss";
* {
   margin: 0px;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
  overflow-x: scroll;
  height: 100%;
  color: blue;
}
