.dashboard {
  font-size: 20px;
  font-weight: bold;
  
  &_status {
    height: 90px;  
    line-height: 90px;        
    margin-bottom: 1px;  
    text-align: center;
  }
  
  &_error {
    color: red;
  }
  
  &_wall {
    height: 90px;  
    line-height: 90px;      
    background-color: white;    
    margin-bottom: 1px;  
    text-align: center;
  }
  
  &_city {
    color: RGB(0, 128, 128);
  }
  
  &_weather_description {
    color: darkgrey;
  }
  
  &_date {
    color: RGB(0, 200, 200);
  }  
  
  &_error {
  
  }
}


.dashboard-stats__item {
  position: relative;
  overflow: hidden;
  padding: 20px 20px;
  margin-bottom: 20px;
  border-radius: 2px;
  background-color: #464960;
}

.dashboard-stats__title {
  margin: 0;
  text-align: right;
  font-size: 24px;
  color: white;
}

.dashboard-stats__title > small {
  display: block;
  font-size: 17px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.7);
}

.bg-orange {
  background-color: #ff8a65 !important;
}

.bg-pink {
  background-color: #f06292 !important;
}

.bg-accent {
  background-color: #a471c6 !important;
}

.bg-teal {
  background-color: #4db6ac !important;
}