<div class="permissions">
  <span class="msg">
    To show weather conditions for your location, the application
	needs to read your device's location. Do you want to allow ?
  </span>
  
  <br><br><br> 
  <button 
    type="button" 
	class = "btn btn-sm btn-success"
	style="width: 160px;"
	ng-click="onClickYes();">
	  Yes, read
  </button>
  
   
  <button 
    type="button" 
	class = "btn btn-sm btn-default"
	style="width: 160px;"
	ng-click="onClickNoThanks();">
	  No, I will specify
  </button>
</div>