ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 30px;
    font-size: 12px;
}

li {
    float: left;
    
}

li a {
    display: block;
    color: lightgrey;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}