@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "./constants.scss";
@import "../views/index.scss";

* {
   margin: 0px;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
  overflow-x: scroll;
  height: 100%;
  overflow: hidden;
}

.header-region {
  display: block;
  margin-bottom: 0px; 
  background-color: $HEADER_BG_COLOR;
  height: 10vh;
  width: 100vw;
  display: table-cell;
  vertical-align: middle;
}

.body-region{
  display: block;
  background-color: rgb(240, 240, 240);
  margin-bottom: 0px; 
  height: 90vh;  
}